<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>
    <h1>{{ store.getName }} <small>Store</small></h1>

    <h3><a href="/stores">Stores</a></h3>
    <h3><a href="/">Home</a></h3>
</body>
</html>
