<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>
    <h1>Welcome to Your Local Shoe Stores</h1>
    <h3><a href="/stores">Add a shoe store</a></h3>
    <h3><a href="/brands">Add a shoe style</a></h3>


</body>
</html>
