<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>
    <h1>{{ store.getName }} <small>Edit</small></h1>


    <form action="/stores/{{ store.getId }}" method="post">
        <input type="hidden" name="_method" value="patch">
            <label for="new_name">Edit Store name</label>
        <input type="text" name="new_name">
        <button type="submit">Submit</button>
    </form>


    <h3><a href="/stores/{{ store.getId }}">Go Back</a></h3>
    <h3><a href="/stores">Stores</a></h3>
    <h3><a href="/">Home</a></h3>

</body>
</html>
