<html>
<head>
    <title>This Brand</title>
</head>
<body>
    <h1>{{ brand.getStyle }} <small>Brand</small></h1>

    <h3><a href="/brand">Brands</a></h3>
    <h3><a href="/">Home</a></h3>
</body>
</html>
